@import url(./assets/styles/reset.css);
@import url(./assets/styles/header.css);
@import url(./assets/styles/banner.css);
@import url(./assets/styles/horarios.css);
@import url(./assets/styles/aboutUs.css);
@import url(./assets/styles/classes.css);
@import url(./assets/styles/tabela.css);
@import url(./assets/styles/contact.css);
@import url(./assets/styles/footer.css);

@font-face {
    font-family: 'Plain Regular';
    src: url(./assets/fonts/Plain-Regular.woff) format(woff), 
        url(./assets/fonts/Plain-Regular.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain Light';
    src: url(./assets/fonts/Plain-Light.woff) format(woff), 
        url(./assets/fonts/Plain-Light.woff2) format(woff2);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Plain Bold';
    src: url(./assets/fonts/Plain-Bold.woff) format(woff), 
        url(./assets/fonts/Plain-Bold.woff2) format(woff2);
    font-weight: bold;
    font-style: normal;
}

:root {
    --fonte-regular: 'Plain Regular', sans-serif;
    --fonte-light: 'Plain Light', sans-serif;
    --fonte-bold: 'Plain Bold', sans-serif;
    --preto-principal: #171819;
    --branco-secundario: #FFFFFF;
    --laranja-destaque: #f13a11;
    --cinza-texto: #909090;
    --cinza-secundario: #666262;
    --cinza-links: #404040;
    --cinza-forte: #212529;
    --branco-fundo: #F9F9F9;
    --branco-bordas: #ced4da;
    --cinza-placeholder: #495057;
    --cinza-bordas: #efebeb;
    --cinza-popup: #6C757D;
    --fundo-popup: #212529;
}

html {
    scroll-behavior: smooth;
}

a:link {
    text-decoration:none;
}

a:visited {
    text-decoration: none;
}

body {
    width: 100%;
}

.hidden {
    opacity: 0;
    transform: translate3d(0,100px,0);
    transition: all 0.6s;
}

.hidden2 {
    opacity: 0;
    transform: translate3d(0,100px,0);
    transition: all 0.8s;
}

.hidden3 {
    opacity: 0;
    transform: translate3d(0,100px,0);
    transition: all 1.2s;
}

.hidden4 {
    opacity: 0;
    transform: translate3d(0,100px,0);
    transition: all 1.4s;
}

.show {
    opacity: 1;
    transform: translateZ(0);
}

.active {
    color: var(--laranja-destaque);
}

.close {
    color: var(--branco-secundario);
}