.sobre__nos {
    background: var(--branco-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em 25em;
}

.texto__sobre__nos{
    margin-right: 7em;
}

.sobre__nos__titulo {
    color: var(--cinza-forte);
    font-family: var(--fonte-bold);
    font-size: 36px;
    margin-bottom: 0.7em;
}

.sobre__nos__texto {
    color: var(--cinza-secundario);
    font-family: var(--fonte-light);
    font-size: 18px;
    line-height: 1.5em;
}

.sobre__nos__link {
    font-family: var(--fonte-regular);
    color: var(--cinza-links);
}

.sobre__nos__link:hover {
    color: var(--laranja-destaque);
    transition: 0.4s ease;
}

.container__instrutores{
    display: flex;
    gap: 2em;
}

.instrutor__imagem{
    width: 16em;
}

.instrutor__box{
    background: var(--branco-secundario);
    display: flex;
    justify-content: space-between;
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    border-radius: 0 0 2px 2px;
    padding: 1.5em 1.5em 1em 1em;
    width: 13.5em;
}

.instrutor__titulo{
    color: var(--cinza-forte);
    font-family: var(--fonte-bold);
    font-size: 28px;
}

.instrutor__texto {
    color: var(--cinza-forte);
    font-family: var(--fonte-light);
    font-size: 16px;
    margin-top: 0.3em;
}

.rede-social__item{
    list-style-type: none;
}

.instrutor__twitter, .instrutor__instagram{
    background-position: center;          /*CENTRALIZAR OS ICONES NA VERTICAL*/
    background-repeat: no-repeat;         /*NÃO REPETIR O BACKGROUND*/
    height: 18px;
    width: 18px;
    display: inline-block; 
    margin-bottom: 0.5em;
}

.instrutor__instagram{
    background-image: url(../imgs/LogoInstagram-Cinza.svg);
}

.instrutor__instagram:hover {
    background-image: url(../imgs/LogoInstagram-Hover.svg);
    transition: 0.4s ease;
}

.instrutor__twitter {
    background-image: url(../imgs/LogoTwitter-Cinza.svg);
}

.instrutor__twitter:hover {
    background-image: url(../imgs/LogoTwitter-Hover.svg);
    transition: 0.4s ease;
}


@media screen and (max-width:1024px) {
    .instrutor__imagem{
        width: 12em;
    }
    
    .instrutor__box{
        width: 9.5em;
    }

    .sobre__nos {
        padding: 5em;
    }

    .sobre__nos__titulo {
        font-size: 32px;
    }

    .texto__sobre__nos{
        margin-right: 5em;
    }
}