.valores__horarios {
    background-color: var(--preto-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 10em;
}


.valores__titulo {
    color: var(--branco-secundario);
    font-family: var(--fonte-bold);
    font-size: 36px;
}

.valores__texto {
    color: var(--branco-secundario);
    font-family: var(--fonte-regular);
    font-size: 22px;
    margin: 1em 0;
}

.valores__texto__link, .link__tooplate  {
    color: var(--cinza-secundario);
    font-family: var(--fonte-light);
    font-size: 18px;
    margin-bottom: 3em ;
}

.link__tooplate {
    color: var(--cinza-links);
}

.valores__botao {
    background-color: var(--laranja-destaque);
    font-family: var(--fonte-regular);
    font-size: 14px;
    color: var(--branco-secundario);
    padding: 1em 9em;
}
.horarios__titulo {
    color: var(--branco-secundario);
    font-family: var(--fonte-bold);
    font-size: 36px;
    margin-bottom: 0.7em;
}
.horarios__dias {
    color: var(--branco-secundario);
    font-family: var(--fonte-bold);
    font-size: 16px;
    margin-bottom: 0.5em;
}
.horarios__horas {
    color: var(--cinza-secundario);
    font-family: var(--fonte-light);
    font-size: 18px;
}
.horarios__descricao {
    margin: 1.5em 0;
}
.horarios {
    border-left: 1px solid var(--cinza-secundario);
    margin-left: 5em;
    padding-left: 3em;
    
}
